h1{
    color:blue
}

a{
    color: brown;
}
.border{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding:15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #4d3e3e;
}
body{
    margin:0px;
    background-color: #2d4b25;
}

.item img{
border:2px solid #9c5050;
border-radius: 50px;
}

.header{
    border: solid;
   border-radius: 20px;
   border-color: #8a292993;
   padding:30px;
   margin:25px;
   width: 310px;
   font-family: fantasy;
}

a:link{
    color: darkgreen;
}

a:visited{
    color: darkorchid;
}

.header:hover{
    transform: scale(1.2);
}

.header{
    position:relative;
}

.header p{
    position:absolute;
    top:40%;
    left:60%;
    transform:translate(-80%,-90%);
    opacity:0
}
.header:hover p{
    opacity:1;
}

.header:hover img{
    opacity:0.3;
}